#result
  - if @conversion_response.code == 200
    #yay_result
      = image_tag 'yay.gif', :size => '300x250'
      %h2 Your file was successfully uploaded and processed!
      %br
      %h3 
        Click 
        = link_to 'here', display_documents_path(:doc_name => @doc_name, :loc => @loc, :pages => @pages)
        to view the uploaded file in html form.
  - else
    #boo_result
      = image_tag 'oops.jpg', :size => '300x250'
      %h2 Sorry! There was a problem processing the file you uploaded.

