#yay_result
  = image_tag 'yay.gif', :size => '250x250'
%h2 Your file was successfully uploaded and is being processed!
%br
%h3 
  Click 
  = link_to 'here', ''
  to view the uploaded file in html form.
 

