/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/***********************Reset CSS************************/

	* { margin: 0; padding: 0; font-size: 1em; outline: none;font-weight:inherit; font-style:inherit; font-family:inherit;border:none }
	/* focusing styles are applied below */
	:focus{outline:0}
	body{line-height:1.6em; color:black; background-color:transparent;}
	ol, ul{list-style:none}
	sub, sup { vertical-align: baseline; }
	/* tables still need 'cellspacing="0"' in the markup */
	table{border-collapse:separate; border-spacing:0}
	caption, th, td{text-align:left; font-weight:normal}
	blockquote:before, blockquote:after, 
	q:before, q:after{content:" "}
	blockquote, q{quotes:"\201C""\201D""\2018""\2019";color:#666;}
	blockquote {text-indent: -0.8em;}
	hr{display:none;}
	input,select,button{cursor:pointer;}
	input[type='text'],input[type='password']{	cursor:text;}
	input[type='hidden']{	display:none;}
    html{font-size:65.2%;
    body {line-height:1.6em;font-size:1.2em; }}

/***********************Reset CSS************************/



body {
  height: 100%;
  font-family: Gill Sans, Verdana;

  #container {
    margin: 0 30px;
    background: #FFF;
    height: 100%;
  }

  #header {
    background: #F2F2F2;
    padding:10px 10px;
    margin: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position:relative;
    border-bottom:1px solid #999;
    
    h1{font-size:2.5em;margin:0 0.1em;line-height:1.5em;text-align:center}
  }

  #content {
    width:100%;
    clear: left;
    #flash_bar {
      font-size: 1.25em;
      color: red;
      margin: 20px;
    }
  }

  #content h2 {	
    font-size: 160%;
    margin: 0 0 .5em;
    color: #606060;
  }

  #footer {
    background: #606060;
    text-align: right;
    padding: 20px;
    height: 1%;
  }
}



