#result {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#upload_form {
  padding: 20px;
  width: 60%;
  height: 125px;  
  border: solid 1px #606060;
  -moz-border-radius: 10px;
  border-radius: 10px;
  input#document_file {
    width: 340px;
  }

  input {
    color: #606060;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.0em;
  }
}