#result {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#doc_display {
  span#link_back { font-size: 1.5em; }
  #exception {
    margin-top: 15px;
    padding-top: 10px;
    font-size: 1.75em; 
    color: red;
  }
  #toolbar {
    margin: 5px;
    padding:8px 15px 5px;
    background: #F2F2F2;
   
    -moz-border-radius: 5px;
    border-radius: 5px;
    li {
      list-style: none;
      display: inline;
      padding: 0 10px;
      span,
      #page_select{position:relative;bottom:8px;padding:0 5px}
    }
  }
  #doc_container {
    #spinner {
       width: 100%;
       height: 100%;
       padding-top: 50px;
       padding-left: 340px;
    }
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: solid 3px #333;
    padding: 20px;
    margin: 10px auto;
    overflow: auto;
    #document {
      margin: 10px;
      border: solid 1px #999;
    }
  }
}

#upload_form {
  padding: 20px;
  width: 60%;
  height: 125px;  
  border: solid 3px #e1eae6;
  -moz-border-radius: 10px;
  border-radius: 10px;
  input#document_file {
    width: 340px;
  }
  input {
    color: #606060;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.0em;
  }
}

.float_left{float:left}
.float_right{float:right}
.clear{overflow:hidden}

.zoom_1{-moz-transform:scale(0.5);-webkit-transform:scale(0.5);-ms-transform:scale(0.5);-o-transform:scale(0.5); margin:-18% auto 0;}

.zoom_2{-moz-transform:scale(0.57);-webkit-transform:scale(0.75);-ms-transform:scale(0.75);-o-transform:scale(0.75);margin:-7% auto 0;}

.zoom_3{-moz-transform:scale(1);-webkit-transform:scale(1);-ms-transform:scale(1);-o-transform:scale(1);top:10%;bottom:0;left:0;right:0;margin:30px auto}

.zoom_4{-moz-transform:scale(1.5);-webkit-transform:scale(1.5);-ms-transform:scale(1.5);-o-transform:scale(1.5);margin:22% auto 0}

.zoom_5{-moz-transform:scale(1.7);-webkit-transform:scale(1.7);-ms-transform:scale(1.7);-o-transform:scale(1.7);margin:32% auto 0}

.zoom_6{-moz-transform:scale(2);-webkit-transform:scale(2);-ms-transform:scale(2);-o-transform:scale(2);margin:43% auto 0}


